body {
    font-family: 'Open Sans Condensed', sans-serif;
    }
.title-holder {
    text-align: center;
}
/* .title {
    font-family: 'Pacifico', cursive;
} */
.font {
    font-size: 20px;
}

/* legend */
.legend {
    font-size: 14px;
}
rect {
    cursor: pointer; 
    stroke-width: 2;
}
rect.disabled {
    fill: transparent !important;
}

/* chart */
#chart {
    height: 300px;
    margin: 0 auto;
    position: relative;
    display: block;
    width: 300px; 
}

/* tooltip */
.tooltip_pie {
    background: #b3b3b3;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 18px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 100px;
    z-index: 10;
}

.footer {
    padding-top: 50px;
    text-align: center;
    list-style-type: none;
}